footer {
	margin-top: 210px; 
	background-color: #147670;
	color: white; 
	padding: 15px; 
	display: flex; 
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 300px; 
  }
  
  footer .contact {
	font-weight: bold;
	margin-bottom: 1em; 
  
  }
  footer p {
	list-style-type: none;
  }

  .contact-info {
	padding: 0.5em; 
  }
  
  .contact-links-container {
	margin-top: 1em; 
	text-decoration: underline;
	padding: 1em; 
  }
  
  .contact-links-container p {
	padding: 0.3em; 
  }

  .contact-links-container a {
	color: white; 
  }

  .icons-row {
	display: flex;
	justify-content: space-around;
  }

  .social-icons-container p {
	visibility: hidden;
}


  @media screen and (min-width: 500px) {
	
	footer {
		display: flex; 
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.icons-row {
		margin-top: 5em; 
	}

	.social-icons-container p {
		margin-top: 2em; 
		visibility:inherit;
	}

	.social-icons-container a {
		color: white;
		text-decoration: none;
	}
	.admin-icon {
		margin-left: 0.5em; 
	}

	.social-icons-container a:hover, .admin-icon:hover {
		color: #94E4C2; 
	}

  }