@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');


header {
	background-color: #94E4C2;
	padding: 1.5em; 
  }

  .head-container-widescreen {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  }
  .heading {
	font-family: 'Julee', cursive;
	color: #fcfaca;
  }

  .nav-länkar {
	font-size: 20px;
	list-style: none;
  }

  .nav-länkar a {
	margin: 0em 0.3em 0em 0.5em;
	text-decoration: none;
	color:#6d6b3c;
	font-weight: bold;
  }
  .nav-länkar a:hover {
	text-decoration: underline;
  }


  @media screen and (max-width: 767px) {

	.head-container-widescreen {
		display: flex;
		flex-wrap: wrap;
	}
	.head-container a {
		margin: 0 1em 0em 0em; 
	}
  }