
p {
	text-align: center;
	font-weight: bold;
}

/*Photo up*/
.summer-picture {
	width: 90%; 
	height: 90%; 
	margin: 0.3em; 
}

/*Photo of the girl*/
.girl-swimsuit {
	height: 100%; 
	border-radius: 20px;

}
/*Photo in the middle*/
.buckets {
	width: 90%; 
	border-radius: 20px; 
	margin: 1em 1em; 

}

.photo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #94E4C2; 
	padding: 0.3em; 
	width: 70%; 
	height: 150px; 
	margin: 1em; 
	border-radius: 20px; 
}

.product-button {
	background-color: #147670;
	color: white; 
	padding: 1em; 
	width: 100px; 
	margin: 1em; 
	border-radius: 1em; 
	border: 1px solid #147670; 
}

.product-button:hover {
	background-color: #94E4C2;

}
/*Photo down */
.beachplay {
	width: 90%; 
	margin: 1em 1em; 
	border-radius: 20px;
}

@media screen and (min-width: 500px) {

	article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	article .summer-picture {
		width: 500px;
		height: 460px; 
	}


	.photo-container-girl .girl-swimsuit  {
		max-width: 800px; 
		max-height: 900px; 
	} 

	section .photos {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.photo-container {
		margin-top: 3em; 
	}

	.photo-container .buckets {
		max-width: 320px;
		max-height: 270px; 
	}

	.photo-container .beachplay {
		max-width: 320px;
		max-height: 270px; 
	}
	.text-container {
		max-width: 20em;
		max-height: 10em; 
	}



}